<div id="sidebar-menu">
    <ul>

                            <li class="menu-title">Monitoring Tools</li>

<!--                            <li class="has_sub">-->
<!--                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span> Dashboard <span class="badge badge-pill badge-primary pull-right">20+</span></span> </a>-->
<!--                                <ul class="list-unstyled">-->
<!--                                    <li><a href="index.html">Facebook</a></li>-->
<!--                                    <li><a href="dashboard-2.html">LinkedIn</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->

                            <li>
                                <a href="/" class="waves-effect"><i class="mdi mdi-cube-outline"></i><span> Facebook </span></a>
                            </li>
                            <li>
                                <a href="/linkedin" class="waves-effect"><i class="mdi mdi-cube-outline"></i><span> LinkedIn </span></a>
                            </li>
                            <li>
                                <a href="/twitter" class="waves-effect"><i class="mdi mdi-cube-outline"></i><span> Twitter </span></a>
                            </li>


                            <li class="menu-title">ML Model</li>

                           <li>
                                <a href="/nba" class="waves-effect"><i class="mdi mdi-cube-outline"></i><span> Next Bext Action Model </span></a>
                            </li>
                        </ul>
</div>